{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

    <!-- Title -->
    <title>Tools</title>

    <!--Bootstrap.min css-->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->

    <!-- Dashboard css -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- Custom scroll bar css-->
    <link href="{% static 'jquery.mCustomScrollbar.css' %}" rel="stylesheet">

    <!-- Horizontal-menu css -->
    <link href="{% static 'fade-down.css' %}" rel="stylesheet">
    <link href="{% static 'dark-horizontalmenu.css' %}" rel="stylesheet">

    <!--Daterangepicker css-->
    <link href="{% static 'daterangepicker.css' %}" rel="stylesheet">

    <!-- Sidebar Accordions css -->
    <link href="{% static 'dark-easy-responsive-tabs.css' %}" rel="stylesheet">

    <!-- Rightsidebar css -->
    <link href="{% static 'dark-sidebar.css' %}" rel="stylesheet">

    <!---Font icons css-->
    <link href="{% static 'plugin.css' %}" rel="stylesheet">
    <link href="{% static 'icons.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet">

    <!-- <link rel="stylesheet" href="{% static 'token_taker.css' %}"> -->

    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0, 0, 0, 0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <style type="text/css">
        .currencyWeeklyChart[data-v-f123609a] {
            filter: invert(42%) sepia(56%) saturate(6477%) hue-rotate(244deg) brightness(88%) contrast(84%)
        }

        .img-container[data-v-f123609a]:after {
            background-color: var(--card-background-color);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            transition: width .3s ease-in-out;
            width: 100%
        }

        .loaded-animation[data-v-f123609a]:after {
            width: 0
        }
    </style>
</head>

<body style="user-select: none;" class="app sidebar-mini rtl sidebar-gone">
    <div class="horizontalMenucontainer">



        <!--Global-Loader-->
        <div id="global-loader" style="display: none;">
            <img src="{% static 'loader.svg' %}" alt="loader">
        </div>

        <div class="page">
            <div class="page-main">
                <!--app-header-->
                <div class="app-header header hor-topheader d-flex fixed-header">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" href="{% static 'index.css' %}">
                                <img src="{% static 'main_logo3.png' %}" class="header-brand-img main-logo"
                                    alt="Hogo logo">
                                <img src="{% static 'icon.png' %}" class="header-brand-img icon-logo" alt="Hogo logo">
                            </a><!-- logo-->
                            <!-- <a id="horizontal-navtoggle" class="animated-arrow hor-toggle"><span></span></a>
							<a href="{% static '#" data-toggle="search" class="nav-link nav-link  navsearch"><i class="fa fa-search"></i></a> -->
                            <!-- search icon -->
                            <div class="header-form">

                            </div>

                            <div class="d-flex order-lg-2 ml-auto header-rightmenu">
                                <div class="dropdown">
                                    <a class="nav-link icon full-screen-link" id="fullscreen-button">
                                        <i class="fe fe-maximize-2"></i>
                                    </a>
                                </div><!-- full-screen -->

                                <div class="dropdown header-user">
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">



                                    </div>
                                </div><!-- profile -->
                                <div class="dropdown">

                                </div><!-- Right-siebar-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="horizontal-main hor-menu clearfix">
                    <div class="horizontal-mainwrapper container clearfix">
                        <nav class="horizontalMenu clearfix">
                            <div class="overlapblackbg"></div>

                            <ul class="horizontalMenu-list">
                                <li aria-haspopup="true"><a href="{% static 'index.css' %}" class="active"><i
                                            class="fa fa-coffee"></i> Dashboard</a></li>

                                <li aria-haspopup="true"><span class="horizontalMenu-click"><i
                                            class="horizontalMenu-arrow fa fa-angle-down"></i></span><a href="#"
                                        class="sub-icon "><i class="typcn typcn-device-desktop hor-icon"></i>
                                        Information Gathering <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="{% static 'bypass-cloud.css' %}">Bypass Cloud
                                                Flare </a>
                                        </li>
                                        <li aria-haspopup="true"><a href="{% static 'cms-detect.css' %}">Cms Detect</a>
                                        </li>
                                        <li aria-haspopup="true"><a href="{% static 'trace.css' %}">Trace Toute</a></li>
                                        <li aria-haspopup="true"><a href="{% static 'reverseip.css' %}">Reverse IP</a>
                                        </li>
                                        <li aria-haspopup="true"><a href="{% static 'port-scan.css' %}">Port Scan</a>
                                        </li>
                                        <li aria-haspopup="true"><a href="{% static 'ip-loc.css' %}">IP location
                                                Finder</a></li>
                                        <li aria-haspopup="true"><a href="{% static 'http-header.css' %}">Show HTTP
                                                Header</a></li>
                                        <li aria-haspopup="true"><a href="{% static 'shared-dns.css' %}">Find Shared
                                                DNS</a></li>
                                        <li aria-haspopup="true"><a href="{% static 'whois.css' %}">Whois</a></li>
                                        <li aria-haspopup="true"><a href="{% static 'dns-lookup.css' %}">DNS Lookup</a>
                                        </li>
                                    </ul>
                                </li>

                                <li aria-haspopup="true"><a href="{% static 'exploits.css' %}" class=""><i
                                            class="typcn typcn-arrow-move-outline"></i> Exploits</a></li>
                                <li aria-haspopup="true"><span class="horizontalMenu-click"><i
                                            class="horizontalMenu-arrow fa fa-angle-down"></i></span><a href="#"
                                        class="sub-icon"><i class="typcn typcn-chart-pie-outline"></i> Social
                                        Engineering <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="{% static 'get-data.css' %}">Get system
                                                Information with
                                                link </a></li>
                                        <li aria-haspopup="true"><a href="{% static 'shot-webcam.css' %}">Screen Captrue
                                                With Link</a>
                                        </li>
                                        <li aria-haspopup="true"><a href="{% static 'play-voice.css' %}">Play Sound With
                                                Link</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="bg-white p-3 header-secondary header-submenu">
                    <div class="container ">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex">
                                    <button id="btn-reload" class="btn btn-danger"><i
                                            class="fe fe-rotate-cw mr-1 mt-1"></i> Reload</button>

                                </div>
                            </div>
                            <div class="col col-auto">
                                <button id="btn-git" class="btn btn-light mt-4 mt-sm-0"><i
                                        class="fe fe-github mr-1 mt-1"></i> Github</button>
                                <button id="btn-tele" class="btn btn-primary mt-4 mt-sm-0"> <i
                                        class="fa fa-telegram mr-1 mt-1"></i> Telegram Channel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container content-area">
                    <div class="side-app">
                        <div class="page-header">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </div>

                        <form action="/" method="post">
                            {% csrf_token %}
                            <input type="password" name="token" placeholder="Enter nobitex token"
                                value="{{static_token}}">
                            <input type="submit" value="Submit">
                        </form>
                        <br><br><br>

                        <div style="display: table; clear: both; width:100%;">
                            <div style="float:left; width:50%;">
                                <p style="white-space: nowrap;">
                                <h1>Total Asset: {{total_asset}}$</h1>
                                </p>
                                <p style="white-space: nowrap;">
                                <h3>Today Profit: test</h3>
                                <h3>Last Week Profit: test</h3>
                                <h3>Last Month Profit: test</h3>
                                <h3>Total Profit: test</h3>
                                </p>


                            </div>
                            <div id="circle_chart" style="float:right; width:50%;">Right content
                            </div>
                        </div>

                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                        {{ tr_data|json_script:"trData" }}
                        {{ total_asset|json_script:"totalAsset" }}

                        
                        <script type="text/javascript">
                            const trData = JSON.parse(document.getElementById('trData').textContent);
                            const totalAsset = JSON.parse(document.getElementById('totalAsset').textContent);


                            // Load google charts
                            google.charts.load('current', { 'packages': ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);

                            // Draw the chart and set the chart values
                            function drawChart() {
                                var dataArray = [
                                    ['Coin', 'Assets'],
                                    ['Other', 0],
                                ];

                                var index = dataArray.findIndex(item => item[0] === 'Other');

                                for (i in trData) {
                                    
                                    if(trData[i]['asset'] < totalAsset*0.05) {
                                        dataArray[index][1] = 54;

                                        //console.log(dataArray.getValue(0,0));
                                        // data[1] = Array(['Other'], data[1][1] + trData[i]['asset'])
                                    }
                                    else {
                                        dataArray.push(Array(trData[i]['coin'], trData[i]['asset']));
                                    }
                                }
                                var data = google.visualization.arrayToDataTable(dataArray);
                                console.log(data);

                                // Optional; add a title and set the width and height of the chart
                                var options = {
                                    'title': '',
                                    'width': 550,
                                    'height': 400,
                                    'backgroundColor': '#364659',
                                    'is3D': false
                                    // 'chartArea': {
                                    //     'backgroundColor': {
                                    //         'gradient': {
                                    //             'color1': '#000000', // Start color for gradient
                                    //             'color2': '#000000', // Finish color for gradient
                                    //             'x1': '0%', 'y1': '0%', // Start position of the gradient
                                    //             'x2': '100%', 'y2': '100%', // End position of the gradient
                                    //             'useObjectBoundingBoxUnits': true // If true, the boundary for x1, y1, x2, and y2 is the box. If false, it's the entire chart.
                                    //         }
                                    //     }
                                    // }
                                };


                                // Display the chart inside the <div> element with id="piechart"
                                var chart = new google.visualization.PieChart(document.getElementById('circle_chart'));
                                chart.draw(data, options);
                            }
                        </script>


                        <div class="row">
                            <!-- table crypto  -->
                            <div class="card mt-5  ">
                                <div class="card-header border-0">
                                    <h3 class="card-title">Last Your Assets Status</h3>
                                </div>
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table card-table text-nowrap">
                                            <tbody>
                                                <tr class="border-bottom">
                                                    <th>Name</th>
                                                    <th>ASSET</th>
                                                    <th>BALANCE</th>
                                                    <th>Price USD</th>
                                                    <th>% 24h</th>
                                                    <th>% weekly</th>
                                                    <th>weekly Chart</th>

                                                </tr>

                                                {% for tr in tr_data %}
                                                <tr class="border-bottom">
                                                    <td id="{{tr.id}}">
                                                        <img src="{% static tr.image %}" alt="icon" class="w-4 h-4">
                                                        {{tr.coin}}
                                                    </td>
                                                    <td id="change0" class="text-green">{{tr.asset}}</td>
                                                    <td id="price-tmn0">{{tr.balance}}</td>
                                                    <td id="price-usd0">{{tr.priceusdt}}</td>
                                                    <td id="market0">Loading...</td>
                                                    <td id="week_change0" class="text-green">Loading...</td>
                                                    <td><img id="chart0"
                                                            src="https://nobitex.ir/nobitex-cdn/charts/{{tr.coin | lower}}.svg"
                                                            class="w-151 h-6 currencyWeeklyChart" data-v-f123609a="">
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                                <tr class="border-bottom">
                                                    <td id="name1">
                                                        <img style="width: 20px;"
                                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj48Y2lyY2xlIGN4PSIyNSIgY3k9IjI1IiByPSIyNSIgZmlsbD0iI2Q5ZDlkOSIvPjxwYXRoIGQ9Ik0xMDkyLjU5NCw2NTIsMTA4MCw2NzIuOTE5bDEyLjU5NCw3LjQ4MiwxMi41MTUtNy40ODJaTTEwODAsNjc1LjQxM2wxMi41OTQsNy40LDEyLjUxNS03LjQtMTIuNTE1LDE3Ljc4MVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMDY3LjQ0NiAtNjQ3LjQ4OCkiIGZpbGw9IiM4MjgzODQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik0xMTQ0LjIsNjgwLjM1M1Y2NTJsMTIuNDgsMjAuODU5Wm0xMi40MzgtNC45MTNMMTE0NC4yLDY5My4xOTRWNjgyLjg0N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMTE5LjA1MiAtNjQ3LjQ4OCkiIGZpbGw9IiMyZjMwMzAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik0xMDkyLjU5NCw3MjkuOTMsMTA4MCw3MzUuNTYybDEyLjU5NCw3LjQ4MiwxMi41MTUtNy40ODJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTA2Ny40NDYgLTcxMC4xMzIpIiBmaWxsPSIjMTMxMzEzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9IjAuOCIvPjwvc3ZnPgo="
                                                            alt="Ethereum" class="w-4 h-4">
                                                        Ethereum
                                                    </td>
                                                    <td id="price-usd1">Loading...</td>
                                                    <td id="price-tmn1">Loading...</td>
                                                    <td id="change1" class="text-green">Loading...</td>
                                                    <td id="market1">Loading...</td>
                                                    <td id="week_change1" class="text-green">Loading...</td>
                                                    <td><img id="chart1" src="" class="w-151 h-6"></td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <footer class="footer">
                        <div class="container">
                            <div class="row align-items-center flex-row-reverse">
                                <div class="col-lg-12 col-sm-12   text-center">
                                    <!-- Copyright © 2024 -->
                                    Created By <a target="_blank" href="https://github.com/AmirAzade">Amir Azade</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            document.getElementById("btn-git").addEventListener("click", function () {
                window.open("https://github.com/AmirAzade");

            })
        </script>

        <script type="text/javascript">
            document.getElementById("btn-tele").addEventListener("click", function () {
                window.open("#");

            })
        </script>

        <script>
            $("#btn-reload").click(function () {
                location.reload();
            })
        </script>


        <script>

            $("#btn-exp-more").click(function () {
                location.href = "exploits.css' %}"
            })
        </script>


        <script>
            document.getElementById("btn-exp-more").addEventListener("mouseover", function () {
                $("#more-icon").attr("class", "fa fa-paper-plane-o fa-pulse")
                document.getElementById("btn-exp-more").addEventListener("mouseout", function () {
                    $("#more-icon").attr("class", "fa fa-paper-plane-o")
                })
            })
        </script>

    </div>
</body>

</html>